<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thomas Workshop</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

  

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Controller", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Control Panel", "Panel", "Buttons")</li>
                    <li>@Html.ActionLink("Administration", "Index", "Buttons")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.Identity.Name == "adamdthomas@gmail.com")
                        {
                            <li>@Html.ActionLink("Star Manager", "StarManager", "Home")</li>
                        }
                        if (User.Identity.Name == "gabriel@gmail.com" | User.Identity.Name == "adrian@gmail")
                        {
                            <li>@Html.ActionLink("My Stars", "Index", "Buttons")</li>
                        }
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Thomas Brothers Application</p>
        </footer>
    </div>

 


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
